<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Sairam Balu</h1>
    <%- body %>
    <p>Disclaimer this is created by Sairam Balu</p>
    <a href="https://www.instagram.com/balu_sairam/" alt="link"
      >Go to his instagram profile
    </a>
  </body>
</html>
