<% if(name){ %>
<h3>Hello <%= name %> thanks for joining into our community</h3>
<% }%>

<p>
  Please go and check your email and verify to continue to use our resuorces
</p>
<p>Verified? go to the <a href="/">home page</a></p>